{% extends "base.html" %}
{% load custom_markdown %}

{% block content %}
<div class="posts">
	<div id="posts" class="posts-expand">
    
      <img src="../static/ico/53c5f317c2bb3.jpg" align="top" class="circle--square" width="400" height=400" />
      <h1>404 ERR</h1>
      <p></p>
<p><strong>This page was lost at sea.</strong></p>
<p>Go back <a href="http://www.zksfyz.com">Home</a></p>

    
  </div>

 
        </div>

</div><!-- /.blog-post -->
{#% include "duoshuo.html" %#}
{% endblock %}

