{% extends "base.html" %}
{% load custom_markdown %}

{% block content %}
<div class="posts">
	<div id="posts" class="posts-expand">
    
      <img src="../static/ico/500.png" align="top" class="circle--square" width="400" height=400" />
      <h1>500 ERR</h1>
      <p></p>
<p><strong>This page was HTTP-Internal Server Error.</strong></p>
<p>Go back <a href="http://www.zksfyz.com">Home</a></p>

    
  </div>

 
        </div>

</div><!-- /.blog-post -->
{#% include "duoshuo.html" %#}
{% endblock %}

