{% extends "base.html" %}
{% load custom_markdown %}

{% block content %}
<div class="posts">
	<div id="posts" class="posts-expand">
    
   <div>
<hr />
</div> 
      <p>嗨，我是 MagicNet作者，也使用该博客作者，我是一名 Web 开发者，很希望和各位爱好者和大神们共同交流，你可以通过 <a href="mailto:zksfyz@163.com" target="_blank" rel="external">Email</a> 与我取得联系。同时也希望添加个人QQ：1031278856 Email:zksfyz@163.com 进行沟通交流。谢谢</p>
<div>
<hr />
</div>
<p><strong>关于Blog</strong></p>
<p>2016 年 7月 ，我尝试建立自己的技术学习网<a href="https://www.zksfyz.com/" target="_blank" rel="external">魔库技术网</a>，在上面采用全静态页面进行开发，由于时间关系，还有很多页面未做完。</p>
<p>2016 年 11月，再加入Python开发后，发现Django开发Web架构很灵活，并开始用于该博客。</p>
<p>2017 年 1 月，我初步完成了自己Blog，我会将我的博客站点上传到网站的GitHub中，请尽情期待。。。</p>
<div>
<hr />
</div>
<div>
<p>欢迎关注个人微信:</p>
<img src="../static/media/mmqrcode1487206395343.png" width="300" height="300" />
</div>
<div>
<hr />
</div>
<div style="color:#999; font-size:14px"># 更新于 2017-02-10</div>  

    
  </div>

 
        </div>

</div><!-- /.blog-post -->
{% include "duoshuo.html" %}
{% endblock %}
